/**
 * Color Palette Imports
 *
 * Importa todas as paletas de cores disponíveis para uso nos temas.
 * Cada arquivo de cor define variáveis CSS que podem ser usadas
 * nos temas definidos em themes.css
 */

@import "./blue.css";
@import "./gray.css";
@import "./green.css";
@import "./neutral.css";
@import "./orange.css";
@import "./red.css";
@import "./slate.css";
@import "./stone.css";
@import "./violet.css";
@import "./yellow.css";
@import "./zinc.css";
@import "./plannerate.css";